body {
	background-color: lime;
}

#courselist {
	float: left;
	width: 200px;
}

#week {
	float: left;
	xheight: 100%;
	xborder: 1px solid black;
	position: relative;
}

#week table th {
	width: 120px;
}

#week table td {
	height: 25px;
}

#week table th.empty {
	width: 40px;
}

#week table {
	position: relative;
	left: 0px;
	top: 0px;
}

.lecture {
	width: 120px;
	height: 50px;
	position: absolute;
	left: 150px;
	top: 20px;
	background-color: magenta;
}